
.gris{
    background: #660066 ;
}
.nav-link {
    color: #FFFFFF !important;


}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}
.navbar{
    height: 70px;
    padding: 0;
}
.navbar h1{
   
    padding: 0;
    margin: 0;
    font-size: 3.2em;
    line-height: 0.8;
    height: 70px;
    margin-left: 30px;
}
h1{
    font-size: 3.2em;
    
}
.imagen1{
    background-image: url(../Assets/Imagen\ principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 500px;
    margin-top: 70px;
}
.yo{
    color: white;
    text-align: center;
    padding-top: 251px;
    margin-bottom: -83px;
    font-family: playfair diplay;
}
.pablo{
    color: white;
    text-align: center;
    margin-top: -85px;
    padding-bottom: 180px;
    font-family: Playfair Diplay;
}
.hr1{
   border-color: #FFFFFF; 
   display: block;
   width: 280px;
   margin: 0 auto 20px;
   
}
.hr2{
    border-color: black; 
    display: block;
    width: 280px;
    margin: 0 auto 20px;
    padding-bottom: 90px;

}
h3{
text-align: center;
margin-top: 90px;
margin-left: 90px;
margin-right: 90px;

}
.texto1{
    margin-left: 100px;
    margin-right: 100px;
}
.texto2{
    margin-right: 20px;
}
.exp{
text-align: center;
font-family: playfair diplay;
font-size: 2.5em;
}
.proyecto img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.carouselExampleIndicators{
padding-top: 90px;
padding-bottom: 90px;
}
.carousel-control-next, .carousel-control-prev {
    color: black;
    

}
h2{
    text-align: center;
    padding-bottom: 50px;
    font-family: playfair diplay extra-bold 800;
}
.sf-co{
    
    padding-top: 80px;
    background: #660066;
}
.ut{
    text-align: center;
    color: white;
    font-family: playfair diplay;
    font-size: 2.5em;
   
}
.hr3{
    border-color: white; 
    display: block;
    width: 280px;
    margin: 0 auto 20px;
    padding-bottom: 90px;
}
.trabajos div{
    margin-bottom: 30px;
}
.form-group{
    margin-bottom: 2rem;
    margin-right: 110px;
    margin-left: 110px;
}
.contacto{
    text-align: center;
    color: black;
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 2.5em;
    padding-top: 90px;
    padding-bottom: 90px;
}
.btn{
    margin-left: 110px;
    margin-bottom: 90px;
    


}


footer{
    background:#660066 ;
    height: 90px;
}
.ri{
    padding-top: 10px;
}

i{
  
  margin:20px;
  
}

@media only screen and (max-width: 961px) {
    .ggg {
      display:none;
    }