nav{
    text-align: center;
}
.bg-hero{
    width: 100%;
}
.bg-hero img{
    width: 100%;
}

.informacion{
    width: 100%;
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}
span{
    text-align: justify;
    padding: 2%;
}
.informacion div, .informacion section{
    width: 40%;
    display: inline-block;
    text-align: justify;

}
.informacion img {
    width: 230px;
}
body{
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;

}
.caracteristicas{
text-align: center;
background: #1e1a13;
padding: 4%;
}

.caracteristicas section{
    display: inline-block;
    margin-right: 20%;
}
.tipo.iguanas{
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 55px;

}
.tipo.iguanas{
    display: inline-block
}
.tipo-iguanas section img{
    width: 230px;
    height: 130;
    margin-right: 5px;
